<div class="row">
  <div class="col text-center">
    <h1>
      Welcome to the Trivia Game
    </h1>
    <h4>Got friends? Join the fun at lxnxtrivia.com/join</h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="/quiz/index" type="button" class="btn btn-primary btn-lg btn-block">Play</a>
    <a href="/quiz/join" type="button" class="btn btn-primary btn-lg btn-block">Join</a>
  </div>
</div>